/* Fonts */
@font-face {
    font-family: Droid;
    src:url("../fonts/DroidSerif-Regular.ttf");
}

@font-face {
    font-family: Wisdom;
    src:url("../fonts/Wisdom Script AJ.otf");
}

@font-face {
    font-family: Montserrat;
    src:url("../fonts/Montserrat-Regular.ttf");
}

@font-face {
    font-family: RobotoSlab;
    src:url("../fonts/RobotoSlab-VariableFont_wght");
}


/* Variables */
$font-one: 'Wisdom', serif;
$font-two: 'Montserrat', sans-serif;
$font-three: 'Droid', serif;
$font-four: 'RobotoSlab', serif;
$color-one: #fed136;
$color-two: #fff;
$color-three: #929292;
$color-four: #f7f7f7;

/* Global */
body{
    font-size: 16px;
    margin: 0;
    padding: 0;
}

.page-title{
    font-family: $font-two;
    text-transform: uppercase;
}

.page-subtitle{
    font-family: $font-three;
    font-style: italic;
}

.btn{
    display: inline-block;
    border-radius: 5px;
    font-family: $font-two;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    border: none;
}

.btn-one{
    background-color: $color-one;
    color: $color-two;
    width: 240px;
    height: 65px;
    line-height: 65px;
    font-size: 18px;
    margin: 24px auto 0 auto;
    text-transform: uppercase;
    font-weight: bold;
}

section{
    padding: 120px 5px;
}

.center{
    text-align: center;
    justify-content: center;
    align-items: center;
}

/* Nav */
nav{
    display: flex;
    position: relative;
    align-items: baseline;
    justify-content: space-around;
    padding-top: 45px;
}

.navbar-brand {
    white-space: nowrap;
    text-decoration: none;
    font-family: $font-one;
    color: $color-one;
    font-size: 26px;
}
  
.navbar-brand:hover, .navbar-brand:focus {
    text-decoration: none;
}

.navbar-nav {
    display: flex;
    flex-direction: row;
    padding: 0;
    margin: 0;
    list-style-type: none;
    font-family: $font-two;
    line-height: 40px;
    text-transform: uppercase;
}

.navbar-link{
    text-decoration: none;
    margin-left: 40px;
    color: $color-two;
}

/* Hero */
.hero-background{
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    position: relative;
    background-image: url("../images/hero_background.jpg");
    background-size: cover;

    &:before{
        content: "";
        position: absolute;
        top: 0px;
        right: 0px;
        bottom: 0px;
        left: 0px;
        background-color: rgba(0,0,0,0.5);
    }
}

.hero {
    position: absolute;
    width: 100%;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
  
.hero-inner {
    color: $color-two;
    text-align: center;
    padding: 20px;
}

.hero-inner h2{
    margin: 0 0 50px 0; 
    font-size: 40px;
}

.hero-inner h1{
    margin: 0 0 60px 0;
    font-size: 75px;
}
    
/* Services */
.services{
    border-color: $color-two;
}

.services .row{
    text-align: center;
    justify-content: center;
    align-items: center;
}

.services header, .portfolio header{
    margin: 0 5px 80px 0;
    text-align: center;
}

.services header h1{
    font-size: 40px;
    margin: 0 0 20px 0;
}

.services header p{
    font-size: 16px;
    color: $color-three;
}

.tile i{
    color: $color-one;
}

.tile h3{
    font-family: $font-two;
    font-size: 18px;
    font-weight: bold;
}

.tile p{
    color: $color-three;
    font-size: 14px;
    font-family: $font-four;
}

/* Portfolio */
.portfolio{
    background-color: $color-four;
}

.portfolio header h1{
    font-size: 40px;
    font-weight: bold;
    margin: 0 0 20px 0;
}

.portfolio header p{
    color: $color-three;
    font-family: $font-three;
    font-size: 14px;
}

.card img{
    width: 100%;
    height: 300px;
    object-fit: cover;
}

.card-body{
    padding: 20px 0;
    background-color: $color-two;
    height: 90px;
}

.card-body h3, .card-body p{
    padding: 0;
    margin: 0;
}

.card-body h3{
    font-family: $font-two;
    font-size: 18px;
}

.card-body p{
    font-size: 14px;
    color: $color-three;
    font-family: $font-four;
    font-style: italic;
}